{{log model }}

<div id="planetShowInfo" class="ui segment">
  <div class="six wide column">
      <div>
        <h2 id="planetName">{{model.name}}</h2>
        <img id="planetPic" {{bind-attr src=imagePath}} height="220" width="250">
      </div>
      <p>{{model.description}}</p>
      <p>Climate:  {{model.climate}}</p>
      <p>Diameter:  {{model.diameter}}</p>
      <p>Rotational Period:  {{model.rotation_period}}</p>
      <p>Orbital Period: {{model.orbital_period}}</p>
      <p>Gravity:  {{model.gravity}}</p>
      <p>Terrain:  {{model.terrain}}</p>
      <p>Surface Water:  {{model.surface_water}}</p>
      <p>Population:  {{model.population}}</p>
  </div>
</div>

{{outlet}}
