<div  id='fuckthis' class="ui form">

<div class="three fields">
      <div class="four wide field">
  {{view "select" content=climate value=selectedClimate prompt='select climate'}}
    </div>
      <div class="four wide field">
  {{view "select" content=terrain value=selectedTerrain prompt='select terrain'}}
      </div>
      <div class="four wide field">
  {{view "select" content=population value=selectedPopulation prompt='select population'}}
      </div>
      <div id='submit' class='small ui button' {{action 'searchPlanets'}}>
        Submit
      </div>
  </div>
</div>

<div id='op' class="one column stackable ui grid">
  <div class="column">
    <div id='moveleft' class="ui segment">
      <p>
        Welcome to the Imperial Trip Planner, Operated By The Galactic Empire.
        To View Your Potential Destinations, Simply Choose Your Ideal Climate, Terrain, and Population Above!
        <div id="searchStatus">
          <h2>{{message}}</h2>
        </div>
      </p>
      <div>
        {{#each planet in planets}}
        <li id="planetSearchResults">
          <div id="planetListName">
            {{#link-to "search.show" planet}}
            {{planet.name}}
          </div>
        </li>
        {{/link-to}}
        {{/each}}
      </div>
      {{outlet}}
    </div>
 </div>
</div>
