<div  id='fuckthis' class="ui form">

<div class="three fields">
      <div class="four wide field">
  {{view "select" content=climate value=selectedClimate prompt='select climate'}}
    </div>
      <div class="four wide field">
  {{view "select" content=terrain value=selectedTerrain prompt='select terrain'}}
      </div>
      <div class="four wide field">
  {{view "select" content=population value=selectedPopulation prompt='select population'}}
      </div>
      <div id='submit' class='small ui button' {{action 'searchPlanets'}}>
        Submit
      </div>
  </div>
</div>

<div id='op' class="one column stackable ui grid">
  <div class="column">
    <div id='moveleft' class="ui segment">
      <p>
        Welcome to the Imperial Trip Planner, operated by the Gallactic Empire.
        Simply choose your ideal climate and terrain, and a list of possible destinations will appear!
      </p>
        {{#each planet in planets}}
        <li>
          {{#link-to "search.show" planet}}
          {{planet.name}}
        </li>
          {{/link-to}}
          {{/each}}
        {{outlet}}
   </div>
 </div>
</div>
